<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSY Hospital</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body >
    <h1 class="heading">Welcome to RSY Hospital !!</h1>
    
    <div >
        <form action="/AddOpdPatient" method="get" >
            <button type="submit" formmethod="get" class="button1">Add Patient in Opd-Patient-Department (OPD)</button>
        </form>
        <form action="/AddCasualtyPatient" method="get" >
            <button type="submit" formmethod="get" class="button1">Add Patient in Casualty-Department</button>
        </form>
        <form action="/AddDoctor" method="get" >
            <button type="submit" formmethod="get" class="button1">Register new Doctor</button>
        </form>
        <form action="/ShowPatient" method="get" >
            <button type="submit" formmethod="get" class="button1">See the details of Patients</button>
        </form>
        <form action="/ShowDoctor" method="get" >
            <button type="submit" formmethod="get" class="button1">See the details of Doctors</button>
        </form>
        <form action="/statistics" method="get" >
            <button type="submit" formmethod="get" class="button1">See the statistics</button>
        </form>
    </div>
</body>
</html>